@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body {
    position: relative;
    min-height: 100vh;
    background-image: url(linhtinh/gundam.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(77, 165, 194, 0.3); /* Adjust the last value (0.3) for opacity */
    z-index: -1; /* Place the pseudo-element behind the content */
}


header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(0,0,0,0.5);
}
#chk1{
    display: none;
     
     
}
i{
    color: #fff;
    cursor: pointer;
}
header .logo{
    flex: 1;
    color:#fff;
     
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
}
header .search-box{
    flex: 1;
    position: relative;
}
.search-box input{
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#f2f2f219;
    border-radius: 30px;
    color:gray;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
     
}
 
.search-box button{
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    background: #1167bc;
    color: #ffffff;
}



.search-box a .fas {
    color: #7b86a8;
    font-size: 18px;
}
header ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid cadetblue;
}
header .menu{
    font-size: 2.5em;
    display: none;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
     
    header .menu{
        display: block;
        width:100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
        
    }
  
}
.gthieu {
    position: absolute;
    top: 138px;
    left: 50%; 
    transform: translateX(-50%);
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: #d3e2e6;
    font-size: 30px;
    text-align: justify;
    text-shadow: 2px 2px #000000;
    text-transform: uppercase;
    letter-spacing: 0;
    line-height: 56px;
    white-space: nowrap;
}

.gthieuc {
    position: absolute;
    top: 200px; 
    left: 50%; 
    transform: translateX(-50%);
    max-width: 1000px;
    text-align: justify;
    color: white;
    text-shadow: 2px 1px  black;
}
